<!DOCTYPE html>
<html>
  <head>
    <title>Blog app</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/app.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="ui fixed inverted menu">
      <div class="ui container">
          <div class="header item">
            <i class="code icon"></i> Blog app!
          </div>
          <a href="/" class="item">Home</a>
          <a href="/blogs/new" class="item">New post</a>
      </div>
    </div>
 